[user]
	name = Sam Clotfelter
	email = samclot@protonmail.com
[alias]
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)'
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[gitreview]
	username = samclot
